<div class="container is-fluid userDetails" *ngIf="user | async as user">

  <div class="section userDetailsTitle">
    <p id="userId">User id : <span>{{user.id}}</span></p>
    <p>User firstname : <span>{{user.firstname}}</span></p>
    <p>User lastname : <span>{{user.lastname}}</span></p>
    <p>User pseudonym : <span>{{user.pseudonym}}</span></p>
  </div>

  <div class="section userDetailsContent">
    <p id="addressId">Address id : <span>{{user.address.id}}</span></p>
    <p>Address street : <span>{{user.address.street}}</span></p>
    <p>Address compl. : <span>{{user.address.complement}}</span></p>
    <p>Address zip : <span>{{user.address.zip}}</span></p>
    <p>Address city : <span>{{user.address.city}}</span></p>
    <p>Address country : <span>{{user.address.country}}</span></p>
  </div>

</div>
