<div class="container is-fluid">
  <div class="section userList">
    <ul>
      <li class="UserListDetails py-3" *ngFor="let user of users | async">
        <p id="userId">User id : <span>{{user.id}}</span></p>
        <p>User firstname : <span>{{user.firstname}}</span></p>
        <p>User lastname : <span>{{user.lastname}}</span></p>
        <p>User pseudonym : <span>{{user.pseudonym}}</span></p>
      </li>
    </ul>
  </div>

  <nav class="section pagination is-centered" role="navigation"
       aria-label="pagination"
       *ngIf="page | async as page">

    <a class="pagination-previous"
       (click)="displayPageContent(1)"
       [ngClass]="{'disabled':page.page <= 1}"><<<
    </a>
    <a class="pagination-previous"
       (click)="displayPageContent(page.page - 1)"
       [ngClass]="{'disabled':page.page <= 1}">Previous
    </a>
    <a class="pagination-next"
       (click)="displayPageContent(page.page + 1)"
       [ngClass]="{'disabled':page.page >= page.totalPage}">Next page
    </a>
    <a class="pagination-next"
       (click)="displayPageContent(page.totalPage)"
       [ngClass]="{'disabled':page.page >= page.totalPage}">>>>
    </a>

    <ul class="pagination-list">
      <li class="pagination-link inactive">
        {{page.page}}
      </li>
      <li class="pagination-link is-current" id="paginationSeparator">OF</li>
      <li class="pagination-link"
          (click)="displayPageContent(page.totalPage)">{{page.totalPage}}
      </li>
    </ul>
  </nav>
</div>

