<div class="formSection section is-small">
  <h1 *ngIf="mode === 'new'" class="title is-4">New Product</h1>
  <h1 *ngIf="mode === 'update'" class="title is-4">Update Product</h1>

  <form (ngSubmit)="onSubmit()" [formGroup]="productForm" class="formProduct">

    <div class="formFieldsProduct py-3 pl-5">

      <div class="field">
        <div class="control">
          <input [ngClass]="{ 'is-invalid': submitted && field.name.errors }" class="input is-normal"
                 formControlName="name" placeholder="Name"
                 type="text">
          <div *ngIf="submitted && field.name.errors" class="invalid-feedback">
            <div *ngIf="field.name.errors.required" [style.color]="'red'">Name is required</div>
          </div>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <input [ngClass]="{ 'is-invalid': submitted && field.price.errors }" class="input is-normal"
                 formControlName="price" placeholder="Price"
                 step="0.01" type="number">
          <div *ngIf="submitted && field.price.errors" class="invalid-feedback">
            <div *ngIf="field.price.errors.required" [style.color]="'red'">Price is required</div>
          </div>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <div class="select">
            <select [ngClass]="{ 'is-invalid': submitted && field.categoryId.errors }"
                    formControlName="categoryId">
              <option hidden value="">Select category</option>
              <option *ngFor="let category of categories | async"
                      value="{{category.id}}">{{category.name}}
              </option>
            </select>
          </div>
          <div *ngIf="submitted && field.categoryId.errors" class="invalid-feedback">
            <div *ngIf="field.categoryId.errors.required" [style.color]="'red'">Category is required</div>
          </div>
        </div>
      </div>

      <div class="field formButtonProduct">
        <p class="control">
          <button class="button is-success is-outlined">Submit</button>
          <button class="button is-info is-outlined ml-3" type="reset">Reset</button>
        </p>
      </div>
    </div>
  </form>
</div>
