/** FRAMEWORK CSS
*
* https://bulma.io/documentation/overview/start/
* https://bulma.io/documentation/
*
**/
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css";

/** COLORS
*
* https://www.w3.org/wiki/CSS/Properties/color/keywords
* https://uigradients.com
*
**/
:root {
  --color0: black;
  --color1: white;
  --color2: rgb(0, 209, 178); /*Homepage logo color*/
  --color3: #667eea; /*Highlight content*/
  --color4: #ab69ee;
  --color5: rgba(169, 169, 169, 0.5); /*Light  grey*/
}

#catId::before,
#prodId::before,
#cartId::before,
#cartLinesProdId::before,
#userId::before,
#addressId::before {
  content: "\25BA"; /* https://en.wikibooks.org/wiki/Unicode/List_of_useful_symbols */
  color: var(--color2);
  font-weight: bold;
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

/* NAVBAR */
#cartIcon,
#loginIcon,
#logoutIcon,
#userIcon,
#ninjaIcon,
#cartIcon,
#shopIcon {
  color: var(--color0);
}

#cartIcon:hover,
#loginIcon:hover,
#logoutIcon:hover,
#userIcon:hover,
#ninjaIcon:hover,
#cartIcon:hover,
#shopIcon:hover {
  opacity: 0.75;
}

#cartIcon:visited,
#loginIcon:visited,
#logoutIcon:visited,
#userIcon:visited,
#ninjaIcon:visited,
#cartIcon:visited,
#shopIcon:visited {
  color: var(--color0);
}

/* LOGIN */
.formLogin {
  display: flex;
  justify-content: center;
  min-width: 50vw;
}

.formFieldsLogin {
  display: flex;
  flex-direction: column;
  min-width: inherit;
}

.formButtonLogin {
  align-self: flex-end
}

/* PRODUCT LIST */
.productList ul {
  list-style: none;
}

.productListDetails p span {
  color: var(--color3);
}

/* PRODUCT DETAILS */
.productDetailsContent p span {
  color: var(--color3);
}

/* FORM PRODUCT */
.formProduct {
  display: flex;
  justify-content: left;
  min-width: 50vw;
}

.formFieldsProduct {
  display: flex;
  flex-direction: column;
  min-width: inherit;
}

/* PAGINATION CONTROL */
.inactive {
  pointer-events: none;
}

.disabled {
  display: none;
}

#paginationSeparator {
  background-color: var(--color2);
  border-color: var(--color5);
}

/* CATEGORY LIST */
.categoryList ul {
  list-style: none;
}

.categoryListDetails p span {
  color: var(--color3);
}

/* CATEGORY DETAILS */
.categoryDetailsTitle p span {
  font-weight: bold;
}

.categoryDetailsContent {
  padding-left: 5rem;
}

.categoryDetailsContent p span {
  color: var(--color3);
}

/* FORM CATEGORY */
.formCategory {
  display: flex;
  justify-content: left;
  min-width: 50vw;
}

.formFieldsCategory {
  display: flex;
  flex-direction: column;
  min-width: inherit;
}

/* CART LIST */
.cartList ul {
  list-style: none;
}

.cartListTitle p span {
  color: var(--color3);
}

/* CART DETAILS */
.cartDetailsTitle p span {
  font-weight: bold;
}

.cartDetailsContent {
  padding-left: 5rem;
}

.cartDetailsContent p span {
  color: var(--color3);
}

#quantityInput{
  height: 1.88rem; /* To match btn height */
}

/* USER LIST */
.userList ul {
  list-style: none;
}

.userList p span {
  color: var(--color3);
}

/* USER DETAILS */
.userDetailsTitle p span {
  font-weight: bold;
}

.userDetailsContent {
  padding-left: 5rem;
}

.userDetailsContent p span {
  color: var(--color3);
}

