<div *ngIf="cart | async as cart" class="container is-fluid cartDetails">

  <div class="section cartDetailsTitle">
    <p id="cartId">Cart id : <span>{{cart.id}}</span></p>
    <p>Cart date : <span>{{cart.createdAt}}</span></p>
    <p>Cart userId : <span>{{cart.userId}}</span></p>
    <p>Cart total price : <span>{{cart.price}}$</span></p>
  </div>

  <div *ngFor="let cartLines of cart.cartLines"
       class="section cartDetailsContent py-4">
    <p id="cartLinesProdId">Product id : <span>{{cartLines.product.id}}</span></p>
    <p>Product name : <span>{{cartLines.product.name}}</span></p>
    <p>Product categoryId : <span>{{cartLines.product.categoryId}}</span></p>
    <p>Product quantity : <span>{{cartLines.quantity}}</span></p>
    <p>Cartline price : <span>{{cartLines.price}}$</span></p>

    <div class="field has-addons pt-1">
      <div class="control">
        <input #quantityInput class="input" id="quantityInput" placeholder="Quantity" type="number" min="1">
      </div>
      <div class="control">
        <a (click)="onUpdateQuantityProduct(cartLines.product.id, quantityInput.value)" class="button is-info is-small">
          UPDATE QUANTITY
        </a>
        <a (click)="onRemoveProduct(cartLines.product.id)" class="button is-danger is-small ml-1">
          REMOVE PRODUCT
        </a>
      </div>
    </div>
  </div>

</div>
