<div class="formSection section is-small">
  <form (ngSubmit)="onSubmit()" [formGroup]="checkoutForm" class="formLogin">

    <div class="formFieldsLogin">

      <div class="field">
        <div class="control has-icons-left">
          <input [ngClass]="{ 'is-invalid': submitted && field.pseudonym.errors }" class="input is-normal"
                 formControlName="pseudonym" placeholder="Pseudonym"
                 type="text">
          <div *ngIf="submitted && field.pseudonym.errors" class="invalid-feedback">
            <div *ngIf="field.pseudonym.errors.required" [style.color]="'red'">Pseudonym is required</div>
          </div>
          <span class="icon is-small is-left">
          <i class="fas fa-user"></i>
        </span>
        </div>
      </div>

      <div class="field">
        <div class="control has-icons-left has-icons-right">
          <input [ngClass]="{ 'is-invalid': submitted && field.password.errors }" class="input is-normal"
                 formControlName="password" placeholder="Password" type="password">
          <div *ngIf="submitted && field.password.errors" class="invalid-feedback">
            <div *ngIf="field.password.errors.required" [style.color]="'red'">Password is required</div>
          </div>
          <span class="icon is-small is-left">
          <i class="fas fa-lock"></i>
        </span>
        </div>
      </div>

      <div class="field formButtonLogin">
        <p class="control">
          <button class="button is-info is-outlined" type="reset">Reset</button>
          <button class="button is-success is-outlined ml-3">Login</button>
        </p>
      </div>
    </div>
  </form>
</div>
