<section class="section is-medium is-flex p-0 m-0">
  <div class="container is-flex is-justify-content-center">
    <img class="imgLogo" src="../../assets/img/homepage-logo.png" width="900" alt="homepage-logo"/>
  </div>
</section>
