<div *ngIf="product as product" class="container is-fluid productDetails">

  <div class="section">
    <div class="productDetailsContent py-3"> <!-- Alignment fix with product list -->
      <p id="prodId">Product id : <span>{{product.id}}</span></p>
      <p>Product name : <span>{{product.name}}</span></p>
      <p>Product price : <span>{{product.price}}$</span></p>
      <p *ngIf="category as category">Product category : <span>{{category.name}}</span></p>

      <!--Buttons panel -->
      <!--
      <button *ngIf="isAuthenticated == true && isAdmin == true" (click)="onProductUpdateClick(product.id)"
              class="button is-small is-info is-light">
        <span>UPDATE</span>
        <span class="icon is-small">
            <i class="fas fa-edit"></i>
          </span>
      </button>

      <button *ngIf="isAuthenticated == true && isAdmin == true" (click)="onProductDeleteClick(product.id)"
              class="button is-small is-danger is-light ml-1">
        <span>DELETE</span>
        <span class="icon is-small">
            <i class="fas fa-times"></i>
          </span>
      </button>
      -->

      <!--ADD TO CART-->
      <div class="field has-addons pt-5">
        <div class="control">
          <input [(ngModel)]="quantity" class="input" min="1" placeholder="Quantity" type="number">
        </div>
        <div class="control">
          <a (click)="onAddToCart(product)" class="button is-info">
            ADD TO CART
          </a>
        </div>
      </div>

    </div>
  </div>
</div>
