<div class="container is-fluid">
  <div class="section productList pb-5">
    <ul>
      <li *ngFor="let product of obsProducts | async" class="productListDetails py-3">
        <p id="prodId">Product id : <span>{{product.id}}</span></p>
        <p>Product name : <span>{{product.name}}</span></p>
        <p>Product price : <span>{{product.price}}$</span></p>
        <p>Product category : <span>{{product.categoryId}}</span></p>
        <div *ngFor="let category of obsCategories | async">
          <p *ngIf="category.id === product.categoryId">Product category : <span>{{category.name}}</span></p>
        </div>

        <!--Buttons panel -->
        <button (click)="onProductDetailsClick(product.id)" class="button is-small is-success is-light">
          <span>DETAILS</span>
          <span class="icon is-small">
            <i class="fas fa-eye"></i>
          </span>
        </button>

        <button *ngIf="isAuthenticated == true && isAdmin == true" (click)="onProductUpdateClick(product.id)"
                class="button is-small is-info is-light ml-1">
          <span>UPDATE</span>
          <span class="icon is-small">
            <i class="fas fa-edit"></i>
          </span>
        </button>

        <button *ngIf="isAuthenticated == true && isAdmin == true" (click)="onProductDeleteClick(product.id)"
                class="button is-small is-danger is-light ml-1">
          <span>DELETE</span>
          <span class="icon is-small">
            <i class="fas fa-times"></i>
          </span>
        </button>
      </li>
    </ul>
  </div>

  <nav *ngIf="obsPage | async as page" aria-label="pagination"
       class="section pagination is-centered pt-0 pb-2"
       role="navigation">

    <a (click)="displayPageContent(1)"
       [ngClass]="{'disabled':page.page <= 1}"
       class="pagination-previous"><<<
    </a>
    <a (click)="displayPageContent(page.page - 1)"
       [ngClass]="{'disabled':page.page <= 1}"
       class="pagination-previous">Previous
    </a>
    <a (click)="displayPageContent(page.page + 1)"
       [ngClass]="{'disabled':page.page >= page.totalPage}"
       class="pagination-next">Next page
    </a>
    <a (click)="displayPageContent(page.totalPage)"
       [ngClass]="{'disabled':page.page >= page.totalPage}"
       class="pagination-next">>>>
    </a>

    <ul class="pagination-list">
      <li class="pagination-link inactive">
        {{page.page}}
      </li>
      <li class="pagination-link is-current" id="paginationSeparator">OF</li>
      <li (click)="displayPageContent(page.totalPage)"
          class="pagination-link">{{page.totalPage}}
      </li>
    </ul>
  </nav>
</div>
