<header>
  <nav aria-label="main navigation" class="navbar" role="navigation">
    <div class="navbar-brand">
      <!--Go to homepage-->
      <a (click)="onHomepageClick()" class="navbar-item" title="Go to Homepage">
        <img alt="navbar-logo" height="25" src="../../assets/img/navbar-logo.png" width="250"/>
      </a>

      <a
        aria-expanded="false"
        aria-label="menu"
        class="navbar-burger"
        data-target="navbarHome"
        role="button"
      >
        <span aria-hidden="false"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div class="navbar-menu" id="navbarHome">
      <div class="navbar-start">

        <!--Product dropdown-->
        <div class="navbar-item has-dropdown is-hoverable">
          <a (click)="onProductClick()" class="navbar-link" title="Go to product list"> Products </a>
          <ul *ngIf="isAuthenticated == true && isAdmin == true"
              class="navbar-dropdown">
            <li class="navbar-item">
              <a (click)="onCreateProductClick()" title="Add a product"
                 *ngIf="isAuthenticated == true && isAdmin == true">
                <span class="far fa-plus-square"></span>
                New product
              </a>
            </li>
          </ul>
        </div>

        <!--Category dropdown-->
        <div class="navbar-item has-dropdown is-hoverable">
          <a (click)="onCategoriesClick()" class="navbar-link" title="Go to category list"> Categories </a>
          <ul class="navbar-dropdown">
            <li class="navbar-item">
              <a (click)="onCreateCategoryClick()" title="Add a category"
                 *ngIf="isAuthenticated == true && isAdmin == true">
                <span class="far fa-plus-square"></span>
                New category
              </a>
            </li>
            <!--Visual divider-->
            <hr *ngIf="isAuthenticated == true && isAdmin == true" class="dropdown-divider">
            <!--Category List-->
            <li *ngFor="let category of categories | async" class="navbar-item">
              <a (click)="onCategoryClick(category.id)">{{category.name}}</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="navbar-end pr-4">
        <!--Cart/Cart list-->
        <span class="icon is-large">
          <a (click)="onCartClick()"
             *ngIf="isAuthenticated == true && isAdmin == false"
             class="fas fa-cart-arrow-down fa-lg" id="cartIcon" title="Go to cart"></a>
          <a (click)="onCartsClick()"
             *ngIf="isAuthenticated == true && isAdmin == true" title="Go to cart list"
             class="fas fa-store-alt fa-lg" id="shopIcon"></a>
        </span>

        <!--User/Admin-->
        <span class="icon is-large">
          <a (click)="onUserClick()"
             *ngIf="isAuthenticated == true && isAdmin == false" title="Go to user"
             class="fas fa-user fa-lg" id="userIcon"></a>
          <a (click)="onUsersClick()"
             *ngIf="isAuthenticated == true && isAdmin == true" title="Go to user list"
             class="fas fa-user-ninja fa-lg" id="ninjaIcon"></a>
        </span>

        <!--Login/Logout-->
        <span class="icon is-large">
          <a (click)="onLoginClick()"
             *ngIf="isAuthenticated == false" class="fas fa-sign-in-alt fa-lg" id="loginIcon" title="Login"></a>
          <a (click)="onLogoutClick()"
             *ngIf="isAuthenticated == true" class="fas fa-sign-out-alt fa-lg" id="logoutIcon" title="Logout"></a>
        </span>

      </div>
    </div>
  </nav>
</header>
