<div *ngIf="category | async as category" class="container is-fluid categoryDetails">

  <div class="section categoryDetailsTitle">
    <p id="catId">Category id : <span>{{category.id}}</span></p>
    <p>Category name : <span>{{category.name}}</span></p>
  </div>

  <div *ngFor="let product of category.products"
       class="section categoryDetailsContent py-4">
    <p id="prodId">Product id : <span>{{product.id}}</span></p>
    <p>Product name : <span>{{product.name}}</span></p>
    <p>Product price : <span>{{product.price}}$</span></p>

    <!--Buttons panel -->
    <button (click)="onProductDetailsClick(product.id)" class="button is-small is-success is-light">
      <span>DETAILS</span>
      <span class="icon is-small">
            <i class="fas fa-eye"></i>
          </span>
    </button>

    <button *ngIf="isAuthenticated == true && isAdmin == true" (click)="onProductUpdateClick(product.id)"
            class="button is-small is-info is-light ml-1">
      <span>UPDATE</span>
      <span class="icon is-small">
            <i class="fas fa-edit"></i>
          </span>
    </button>

    <button *ngIf="isAuthenticated == true && isAdmin == true" (click)="onProductDeleteClick(product.id)"
            class="button is-small is-danger is-light ml-1">
      <span>DELETE</span>
      <span class="icon is-small">
            <i class="fas fa-times"></i>
          </span>
    </button>
  </div>
</div>
