<div class="container is-fluid">
  <div class="section categoryList">
    <ul>
      <li *ngFor=" let category of categories | async" class="categoryListDetails py-3">
        <p id="catId">Category id : <span>{{category.id}}</span></p>
        <p>Category name : <span>{{category.name}}</span></p>

        <!--Buttons panel -->
        <button (click)="onCategoryDetailsClick(category.id)" class="button is-small is-success is-light">
          <span>DETAILS</span>
          <span class="icon is-small">
            <i class="fas fa-eye"></i>
          </span>
        </button>

        <button *ngIf="isAuthenticated == true && isAdmin == true" (click)="onCategoryUpdateClick(category.id)"
                class="button is-small is-info is-light ml-1">
          <span>UPDATE</span>
          <span class="icon is-small">
            <i class="fas fa-edit"></i>
          </span>
        </button>

        <button *ngIf="isAuthenticated == true && isAdmin == true" (click)="onCategoryDeleteClick(category.id)"
                class="button is-small is-danger is-light ml-1">
          <span>DELETE</span>
          <span class="icon is-small">
            <i class="fas fa-times"></i>
          </span>
        </button>
      </li>
    </ul>
  </div>
</div>



