<div class="container is-fluid">
  <div class=" section cartList">
    <ul>
      <li class="cartListTitle py-3" *ngFor="let cart of carts | async">
        <p id="cartId">Cart id: <span>{{cart.id}}</span></p>
        <p>Cart userId: <span>{{cart.userId}}</span></p>
        <p>Cart date: <span>{{cart.createdAt}}</span></p>

        <!--Buttons panel-->
        <button (click)="onCartDetailsClick(cart.id)" class="button is-small is-success is-light">
          <span>DETAILS</span>
          <span class="icon is-small">
            <i class="fas fa-eye"></i>
          </span>
        </button>

        <button *ngIf="isAuthenticated == true && isAdmin == true" (click)="onCartDeleteClick(cart.id)"
                class="button is-small is-danger is-light ml-1">
          <span>DELETE</span>
          <span class="icon is-small">
            <i class="fas fa-times"></i>
          </span>
        </button>

      </li>
    </ul>
  </div>
</div>
