<div class="formSection section is-small">
  <h1 *ngIf="mode === 'new'" class="title is-4">New Category</h1>
  <h1 *ngIf="mode === 'update'" class="title is-4">Update Category</h1>

  <form (ngSubmit)="onSubmit()" [formGroup]="categoryForm" class="formCategory">

    <div class="formFieldsCategory py-3 pl-5">

      <div class="field">
        <div class="control">
          <input [ngClass]="{ 'is-invalid': submitted && field.name.errors }" class="input is-normal"
                 formControlName="name" placeholder="Name"
                 type="text">
          <div *ngIf="submitted && field.name.errors" class="invalid-feedback">
            <div *ngIf="field.name.errors.required" [style.color]="'red'">Name is required</div>
          </div>
        </div>
      </div>

      <div class="field formButtonCategory">
        <p class="control">
          <button class="button is-success is-outlined">Submit</button>
          <button class="button is-info is-outlined ml-3" type="reset">Reset</button>
        </p>
      </div>
    </div>
  </form>
</div>
